{:deps {org.clojure/clojure {:mvn/version "1.11.0"}
        org.clojure/clojurescript {:mvn/version "1.11.4"}}
 :paths ["src/cljc"]
 :aliases {:test {:extra-paths ["test/cljc"]
                  :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.1"}}
                  :main-opts ["-m" "cljs-test-runner.main"]}}}
